.App {
  text-align: center;
}

body {
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body {
  background-color: black;
  background: black;
}
* {
  font-family: sans-serif;
}
.login {
  margin-top: 80p2;
  height: calc(100vh - 80px - 40px);
  display: grid !important;
  place-content: center;
  place-items: center;
}
.loginIcon {
  width: 20px;
  cursor: pointer;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.Label {
  color: red;
}

.mylistcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Profilepage {
  background-color: rgb(0, 0, 0);
  margin-top: 80px;
  padding: 20px;
}

.Mylistheading {
  font-size: large;
  color: red;
}
.Link {
  color: rgb(243, 236, 236);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chat-window {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  width: 350px;
}
.chat-header {
  background-color: #c70000;
  color: #fff;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  position: relative;
}

.close-button {
  width: 28px;
  height: 18px;
  border: none;
  background-color: #fff;
  position: absolute;
  top: 6px;
  right: 6px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.close-button:before,
.close-button:after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 2px;
  background-color: #c70000;
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}

.close-button:hover {
  background-color: #f1f1f1;
}

.chat-body {
  display: flex;
  flex-direction: column;
  height: 300px;
  overflow: scroll;
  padding: 10px;
  background-color: #1a1a1add;
}

.message {
  display: inline-block;
  margin-bottom: 10px;
  max-width: 80%;
  position: relative;
}

.message-content {
  background-color: #eee;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  max-width: calc(100% - 10px); /* subtract 10px for left and right padding */
  word-wrap: break-word;
}

.message-details {
  color: #e7e5e5;
  font-size: 12px;
  margin-top: 5px;
  text-align: right;
}

.message.left {
  align-self: flex-start;
  text-align: left;
}

.message.right {
  align-self: flex-end;
  text-align: right;
}

.message.left .message-content {
  background-color: #fff;
  border: 1px solid #ddd;
}

.message.left .message-details {
  text-align: left;
}

.message.right .message-content {
  background-color: #006adb;
  color: #fff;
}

.message.right .message-details {
  text-align: right;
}

.chat-input {
  display: flex;
  margin-top: 10px;
}

.chat-input input {
  border: 1px solid #ddd;
  border-radius: 5px;
  flex: 1;
  padding: 10px;
  margin-right: 5px;
}

.chat-input button {
  background-color: #c70000;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
}

.chat-input button:hover {
  background-color: #2c3e50;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputField{
  background-color: white;
}

.app {
  background-color: black;
}

.remove {
  color: rgb(191, 0, 0);
  display: flex;
  justify-content: center;
  margin: 5px auto;
  display: block;
  flex-direction: row;
  background-color: #dc0000;
  color: #fff;
  padding: 4px 16px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 30px;
}

.remove:hover {
  background-color: #f03e3e;
}

.remove:focus {
  outline: none;
  box-shadow: 0 0 0 2px #ff4d4d;
}

.remove span {
  margin-left: 5px;
}

.Mylistheading {
  color: rgb(214, 214, 214);
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
}

.Mylistheading span {
  display: block;
  font-size: 18px;
  margin-top: 10px;
  font-weight: normal;
}

.Mylistheading::after {
  content: "";
  display: block;
  height: 2px;
  width: 60%;
  margin: 10px auto 20px auto;
  background-color: rgb(214, 214, 214);
}
