.cardLayout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    place-items: center;
    gap: 15px;
    margin: 20px;
  }
  .cardLayout > div{
    height: 100%;
    width: 100%;
  }
  .cardLayout > div > div{
    height: 100%;
    margin: auto;
    transition: all .3s;
  }
  .cardLayout > div > div:hover{
    transform: scale(1.02);
  }
  .thumbnail{
    max-height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

.titleBackdrop{
  position: absolute;
  font-size: 0.8rem;
  color: white;
  bottom: 0px;
  left: 2px;
  text-overflow: ellipsis;
  font-weight: bold;
}

.thumbnaildiv{
  position: relative;
  white-space: normal;
}