.nav {
  padding-right: 20px;
  width: 100%;
  height: 80px;
  top: 0;
  position: fixed;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.logo {
  position: fixed;
  top: 28px;
  width: 250px;
  object-fit: contain;
  padding-left: 20px;
  cursor: pointer;
  left: 48px;
}

.logoutButton {
  position: fixed;
  right: 100px;
  margin-top: -35px;
  border: none;
  color: #fff;
  background-color: #212121;
  border-radius: 15px;
  padding: 15px 15px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.logoutButton:hover {
  background-color: #4a4a4a;
}

.logoutButton:focus {
  outline: none;
  box-shadow: 0px 0px 5px #4a4a4a;
}

.logoutButton:active {
  transform: translateY(1px);
}

.avatar {
  position: fixed;
  cursor: pointer;
  position: fixed;
  width: 40px;
  right: 25px;
  margin-top: -35px;
}

.navBlack {
  background-color: black;
  height: 80px;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.menu {
  padding-top: 20px;
}

.searchBox {
  margin-top: -35px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBox input[type="text"] {
  color: rgb(0, 0, 0);
  border: none;
  padding: 5px;
  margin-right: 10px;
  width: 200px;
  height: 25px;
  font-size: 16px;
}

.searchBox button {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 3px;
}
