.linksList {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  background-color: #000000;
  padding: 1rem;
}

.link {
  font-size: 0.8rem;
}

.link a {
  color: #909090;
  text-decoration: none;
}

.link a:hover {
  color: #ffffff;
}

.link a:focus {
  outline: none;
  color: #ffffff;
}

@media (max-width: 768px) {
  .linksList {
    grid-template-columns: repeat(2, 1fr);
  }
}
